/* 

/* this si   navbar section */
/* nav  li {
    padding: 5px;
    border-radius: 5px;
}
nav  li:hover {
    background-color: #3b2d2d;
    transition: 0.5s; */
/* } */
/* primary btn */
/* .btn_primary {
    background-color: #F85559;
    padding: 17px 30px;;
    font-size: 20px;
    font-weight: 800;
    color: #FFFFFF;
    border-radius: 8px;
    cursor: pointer;
}
.btn_primary:hover {
    background-color: #b3797a;
}
.hero_caption {
    width: 661px;
    text-align: center;
    margin-top: 70px; */
/*     
} */ *