* {
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}
/* meet the team section */
.meet-section-bg {
    background: linear-gradient(0deg, rgba(5, 5, 5, 0.6), rgba(0, 0, 0, 0.8)), url('../assets/images/team.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}